<!doctype html>
<html lang="<% .Data.Lang %>">

<head>
    <title>Captive Portal</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<% .Data.VendorStyles %>" />
</head>

<body>
    <% .ContentHtml %>

    <script>
        var $flare = {};
        window.$flare = $flare;
    </script>
    <script type="text/javascript" src="<% .Data.VendorScripts %>"></script>
    <script type="text/javascript" src='<% .Helpers.AssetPath "libs/require-2.3.6.min.js" %>'
        data-main='<% .Helpers.AssetPath "portal/main.js" %>'></script>
</body>

</html>
