[submodule "plugins/com.flarego.wired-coinslot"]
	path = plugins/com.flarego.wired-coinslot
	url = git@github.com:flarehotspot/com.flarego.wired-coinslot.git
[submodule "plugins/com.flarego.basic-net-mgr"]
	path = plugins/com.flarego.basic-net-mgr
	url = git@github.com:flarehotspot/com.flarego.basic-net-mgr.git
[submodule "plugins/com.flarego.basic-wifi-hotspot"]
	path = plugins/com.flarego.basic-wifi-hotspot
	url = git@github.com:flarehotspot/com.flarego.basic-wifi-hotspot.git
[submodule "plugins/com.flarego.basic-system-account"]
	path = plugins/com.flarego.basic-system-account
	url = git@github.com:flarehotspot/com.flarego.basic-system-account.git
[submodule "plugins/com.flarego.default-theme"]
	path = plugins/com.flarego.default-theme
	url = git@github.com:flarehotspot/com.flarego.default-theme
