[submodule "core"]
	path = core
	url = git@github.com:flarehotspot/core.git
[submodule "interface"]
	path = interface
	url = git@github.com:flarehotspot/interface.git
[submodule "goutils"]
	path = goutils
	url = git@github.com:flarehotspot/goutils.git
