go 1.19

use (
  ./main
  ./core
  ./sdk
  ./goutils
  ./plugins/com.adopisoft.basic-flare-theme
  ./plugins/com.flarego.wired-coinslot
  ./plugins/com.flarego.basic-net-mgr
  ./plugins/com.flarego.basic-wifi-hotspot
  ./plugins/com.flarego.basic-system-account
)
