<!doctype html>
<html lang="<% .Data.Lang %>">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<% .Data.VendorStyles %>" />
</head>

<body>
    <div id="app">
        <div v-if="view.loading" style="margin: 12px">
            <i>Loading...</i>
        </div>
        <router-view :flare-view="view"></router-view>
    </div>

    <script>
        var $flare = {};
    </script>

    <script type="text/javascript" src="<% .Data.VendorScripts %>"></script>

    <!-- Embed these assets to void cache -->
    <% .Helpers.EmbedJs "services/forms.js" .Data %>

    <script type="text/javascript" src='<% .Helpers.AssetPath "libs/require-2.3.6.min.js" %>'
        data-main='<% .Helpers.AssetPath "admin/main.js" %>'></script>
</body>

</html>
