<!DOCTYPE html>
<!--
 - File              : index.html
 - Author            : Adones Pitogo <pitogo.adones@flarego.ph>
 - Date              : Jul 29, 2024
 - Last Modified Date: Jul 29, 2024
 - Copyright 2021-2024 Flarego Technologies Corp. <business@flarego.ph>
-->
<html lang="en">
  <head>
    <title>Booting...</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="container" class="center">
      <div id="progressbar">
        <h3>
          <strong>System is booting...</strong>
        </h3>
        <div id="status-text">
          <ul>
            <% range .Data.logs %>
            <li>
              <% . %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <script>
    <% .Helpers.EmbedJs "booting/js/booting.js" .Data.sseUrl %>
  </script>
</body>
</html>
