<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
        var $flare = {};
    </script>

    <link rel="stylesheet" href="<% .Data.VendorStyles %>" />

</head>

<body>
    <div id="app">
        <p v-if="view.loading" id="loading-text">Loading...</p>
        <router-view :flare-view="view"></router-view>
    </div>

    <script type="text/javascript" src="<% .Data.VendorScripts %>"></script>
    <script type="text/javascript" src='<% .Helpers.AssetPath "libs/require-2.3.6.min.js" %>'
        data-main='<% .Helpers.AssetWithHelpersPath "app/main.js" %>'></script>
</body>

</html>
